.header-main {
    width: 100%;
    height: 100%;
}

#title, #sub-title {
    text-align: center;
    margin: auto;
    padding: 0;
}

#title {
    font-size: 60px;
}

#sub-title {
    font-size: 30px;
}

.recipe-container {
    margin-top: 50px;
    border: 3px solid black;
    padding: 20px;
}

.recipe {
    align-items: center;
    float: left;
    width: 15%;
    

}